{% extends 'base/_layout1.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Meu perfil</h5>
        </div>
        <div class="card-body">
            <h5> Enquetes votadas:</h5>
            <ol>
                {% for item in questions_voted %}
                    <li>{{ item.question.question_text }}</li>
                {% empty %}
                    <li><h5>Nenhuma enquete votada.</h5></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}