{% extends '_layout1.html' %}

{% block content %}
    <div class="card">
        <h5 class="card-title-question">Pergunta {{ question.id|stringformat:"02d" }}</h5>
        <div class="card-body">
            <form action="{% url 'poll_vote' question_id=question.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h1>{{ question.question_text }}</h1>
                        {% for choice in question.choice_set.all %} 
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                            class="form-check-input" value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}" class="form-check-label" id="choice">
                                {{ choice.choice_text }}
                            </label><br>
                            {% empty %}
                                <p>Nenhuma alternativa disponível.</p>
                        {% endfor %}
                    </legend>
                </fieldset>
                {% if question.choice_set.all %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="submit" class="btn btn-primary btn-lg" value="Confirmar" id="btn-salvarEscolha">
                    </div>
                {% endif %}
                </form>
        </div>
    </div>
{% endblock %}