{% extends '_layout1.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Pergunta</h5>
        </div>
        <div class="card-body">
            <p>
                {{ question.question_text }}

            </p>
            {% if total_votes %}
                <h6 class="fw-bold">Total de votos: {{ total_votes }}</h6>
            {% endif %}
            <form action="{% url 'poll_vote' question_id=question.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h1>{{ question.question_text }}</h1>
                        {% for choice in question.choice_set.all %} 
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                            class="form-check-input" value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}" class="form-check-label">
                                {{ choice.choice_text }}
                            </label><br>
                            {% empty %}
                                <p>Nenhuma alternativa disponível.</p>
                        {% endfor %}
                    </legend>
                </fieldset>
                {% if question.choice_set.all %}
                    <input type="submit" class="btn btn-primary btn-lg" value="Votar">
                {% endif %}
                </form>
        </div>
    </div>
{% endblock %}