{% extends '_layout1.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Pergunta</h5>
        </div>
        <div class="card-body">
            <p>
                {{ question.question_text }}

            </p>
            {% for choice in question.choice_set.all %}
                <p>
                    {{ choice.id }} - {{ choice.choice_text }}
                </p>
                {% empty %}
                <h5>
                    Não há alternativas.
                </h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}