{% extends '_layout2.html' %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="glass-card text-center col-md-8">
            <span class="fs-4 brand-match">Match <span>Eleitoral</span></span>
            <h1 class="display-4 fw-bold text-white mb-4">{{ title }}</h1>
            <p class="text-white-50 mb-5">Descubra em 15 perguntas qual deputado da ALMG mais representa suas ideias.</p>
            <a href="{% url 'signup' %}" class="btn btn-info btn-lg px-5 py-3 rounded-pill fw-bold">Descubra já!!</a>
        </div>
    </div>
{% endblock content %}
